<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DWI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
	</configSections>
	<connectionStrings>
  <!--<add name="DWI.Properties.Settings.dwiDevConnectionString" connectionString="Y+4jO9VxDZsbnNX/8pkPz+NYDsTXSjcuEGDcqWRpxsydObFdvXc2GDSpn/pHM0IOZgnFrMoKqnOwhEf2qg5fWDJiE9dpJKjns4noIq/cPvLc0f+Yiy46h9IktSj4hoO97+gsePtgMsY5h1Bejd8FGTrrzOlZpbg5ucmz5VjgIttj9zOLxZUEITBDAxdNNrE8BYlIaXy3URWmK/DLNkW6+w=="
   providerName="System.Data.SqlClient" />-->
		<add name="DWI.Properties.Settings.dwiDevConnectionString" connectionString="Y+4jO9VxDZsbnNX/8pkPz+NYDsTXSjcuEGDcqWRpxsydObFdvXc2GP3U0hPhYsaBL0YenMitefaMXBwdIrM/YCSBWe2kUYAEtkLmJ4jScRIkiGoa9VXyodC1Y75xHuM4Rln5yW/EE9J9lzJAh16aR7XWKXB4ab0dg64vjSTlZHAa/EZfbAwe6OL39nNYKvuyraCTWb8rPFo="
  providerName="System.Data.SqlClient" />
	<!--<add name="DWI.Properties.Settings.dwiDevConnectionString" connectionString="Y+4jO9VxDZsbnNX/8pkPz8VcN2ocEFD9EGDcqWRpxsydObFdvXc2GJmJsH3JPgPmWloAxOE8sFTMtDcfoH5BUQm8Hw/CoA9rW06jQ3lJH7dvQ3wo4M8UzFG8YJA9WJ+c87az+vX3SbCMcqdfrpIhd8DxKiGObL0l3nrvUQV9fWdXxYTDR7qEbEXFJGjAsM73AFQT380YSLpj3N6oBbb7wg=="
  providerName="System.Data.SqlClient" />
<add name="DWI.Properties.Settings.org" connectionString="Y+4jO9VxDZsbnNX/8pkPz+NYDsTXSjcuEGDcqWRpxsydObFdvXc2GGyoZFMyUWnqvhjpIoMPur20r/NO1iDObup7AzQpujSHC7L/CrRPJ9od4wTGhIPbY8AXkxyzBWcB2g2E1HuLvg78cgHl+a/ZCibQoKDAPZFiUbmlck58m2wOzHJ3IoX/JDm+mR/1H7EHCx0x1F9ATsnMcGeHGxDaSQ=="
  providerName="System.Data.SqlClient" />
-->
	</connectionStrings>
	<dataConfiguration defaultDatabase="DWI.Properties.Settings.dwiDevConnectionString"></dataConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<userSettings>
	<DWI.Properties.Settings>
  <setting name="UserName" serializeAs="String">
   <value />
  </setting>
  <setting name="Password" serializeAs="String">
   <value />
  </setting>
 </DWI.Properties.Settings>
	</userSettings>
	<appSettings>
		<add key="Environment" value="UAT" />
		<add key="ExcelPath" value="D:\\Excel\\" />
		<add key="ApplicationVersion" value="1.1.2" />
		<add key="PlantId" value="" />
		<add key="LocationValue" value="" />
		<add key="Plant" value="ORAGADAM" />
		<add key="AssemblyLine" value="" />
		<add key="AssemblyLineId" value="" />
		<add key="StationId" value="" />
		<add key="PrinterShareName" value="&quot;TOSHIBAPRINTER&quot;" />
		<add key="PrinterName" value="INVLMPRJD1764" />
		<add key="GenerationPath" value="D:\GenerationPath\" />
		<add key="TemplatePath" value="D:\TemplatePath" />
	    <add key="StationType" value="BATTERY" />
		<add key="Station" value="" />
		<add key="StationNo" value="" />
		<add key="BioMetric" value="False" />
		<add key="BatteryValidation" value="True" />
		<add key="AMARON" value="AS,BA,CF,TA,KI" />
		<add key="AMARON-CheckCharacter" value="2" />
		<add key="AMARON-BatteryLength" value="14" />
		<add key="EXIDE" value="M,J,V,O,I" />
		<add key="EXIDE-CheckCharacter" value="1" />
		<add key="EXIDE-BatteryLength" value="15" />
		<add key="StatusDuration" value="3" />
		<add key="ExportAlertDuration" value="3" />
		<add key="PrintAction" value="true" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>